.gridc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  margin-top: 2rem;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #ffd000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  stroke: #ffffff;
  stroke-width: 3px;
  background: linear-gradient(to right, #e78319, #b62400);
  padding: 20px;
  border-radius: 10px;
  box-shadow: #000 0px 0px 10px;
  grid-column: span 2;
  grid-row: span 2;
}

.chartHeading {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .gridc {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 500px) {
  .gridc {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.loading-complete {
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

.loading h1 {
  font-size: 24px;
  text-align: center;
  color: #ffd000;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red;
  }
  50% {
    text-shadow: 0 0 10px rgb(255, 98, 0), 0 0 20px rgb(255, 98, 0),
      0 0 40px rgb(255, 98, 0), 0 0 80px rgb(255, 98, 0);
  }
  100% {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red;
  }
}
