.main {
  padding: 1rem;
  min-width: 660px;
  overscroll-behavior: scroll;
  background-image: url("/stacked-waves.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
